header {
	background-color: #fff0d9;
	color: #2a190f;
	height: 95px;
	width: 100%;
	position: relative;
}
#dashboard {
	color: #2a190f;
	font-weight: bold;
	font-size: large;
	background-color: #d9d9d9;
	border-color: #b6b6b6;
	border-width: 3px;
	margin-left: 2%;
	margin-top: 1.2%;
	float: left;
}
#dashboard:hover {
	background-color: #a5a5a5;
	border-color: #a5a5a5;
}
#preferencesHeader {
	font-size: 50px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10%;
	text-transform: capitalize;
	text-underline-position: under;
	text-decoration: underline;
	text-decoration-color: #e4bc7e;
}