/* header background */
header {
	background-color: #fff0d9;
	color: #2a190f;
	height: 95px;
	width: 100%;
	position: relative;
}
/* user dashboard button */
#dashboard {
	color: #2a190f;
	font-weight: bold;
	font-size: large;
	background-color: #e4bc7e;
	border-color: #b68946;
	border-width: 3px;
	margin-left: 2%;
	margin-top: 1.2%;
	float: left;
}
/* user dashboard button hover features */
#dashboard:hover {
	background-color: #d3a664;
	border-color: #d3a664;
}
/* dashboard title */
#preferencesHeader {
	font-size: 50px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10%;
	text-transform: capitalize;
	text-underline-position: under;
	text-decoration: underline;
	text-decoration-color: #e4bc7e;
}
