/* card top margin */
#cardCalculation {
	margin-top: 5%;
	margin-bottom: 10%;
}
/* card border color */
div#card-body {
	border-color: black;
	background-color: rgb(250, 250, 250);
	padding-bottom: 3%;
}
/* input for small cup */
#inputOne {
	border-radius: 50%;
	height: 90%;
	width: 60%;
	margin-left: 20%;
}
/* input for med cup */
#inputTwo {
	border-radius: 50%;
	height: 90%;
	width: 60%;
	margin-left: 20%;
}
/* input for large cup */
#inputThree {
	border-radius: 50%;
	height: 90%;
	width: 60%;
	margin-left: 20%;
}
/* hover for small cup */
#inputOne:hover {
	cursor: pointer;
}
/* hover for med cup */
#inputTwo:hover {
	cursor: pointer;
}
/* hover for large cup */
#inputThree:hover {
	cursor: pointer;
}
/* desired quantity text */
#desiredTextFirst {
	text-align: center;
	margin-bottom: 5%;
	margin-top: 3%;
	color: #2a190f;
	font-size: 40px;
}
/* desired strength and bean roast text */
#desiredText {
	text-align: center;
	margin-bottom: 5%;
	margin-top: 7%;
	color: #2a190f;
	font-size: 40px;
}
/* small, med, & large quantity text */
#textsml {
	font-weight: bold;
	position: absolute;
	margin-top: 50%;
	color: #2a190f;
	font-size: 20px;
}
/* weak, med, & strong strength text */
#textwms {
	font-weight: bold;
	position: absolute;
	margin-top: 52%;
	color: #2a190f;
	font-size: 20px;
}
/* light, med, & dark roast text */
#textlmd {
	font-weight: bold;
	position: absolute;
	margin-top: 50%;
	color: #2a190f;
	font-size: 20px;
}
/* input for light cup */
#roastInputOne {
	border-radius: 50%;
	height: 90%;
	width: 60%;
	margin-left: 20%;
}
/* input for med cup */
#roastInputTwo {
	border-radius: 50%;
	height: 90%;
	width: 60%;
	margin-left: 20%;
}
/* input for dark cup */
#roastInputThree {
	border-radius: 50%;
	height: 90%;
	width: 60%;
	margin-left: 20%;
}
/* hover for light cup */
#roastInputOne:hover {
	cursor: pointer;
}
/* hover for med cup */
#roastInputTwo:hover {
	cursor: pointer;
}
/* hover for dark cup */
#roastInputThree:hover {
	cursor: pointer;
}
/* brew btn */
#brew-btn {
	color: white;
	font-weight: bold;
	font-size: large;
	background-color: #e4bc7e;
	border-color: #d3a664;
	border-width: 3px;
	margin-top: 10%;
}
/* brew btn hover features */
#brew-btn:hover {
	background-color: #d3a664;
	border-color: #d3a664;
}
/* hides radio btn */
#hideRadioBtn[type="radio"] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}
/* radio button checked selection */
[type="radio"]:checked + img {
	box-shadow: 0 0 5pt 4pt #d3a664;
}
/* error message */
#errorBox {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
	font-size: 20px;
	color: #721c24;
	font-weight: bold;
	text-align: center;
	border: 3px solid #da7a84;
	background-color: #f8d7da;
}
