/* navbar */
nav {
	background-color: #e4bc7e;
	color: #2a190f;
	height: 95px;
  width: 100%;
  position: relative;
}
/* navbar logo */
nav img {
	max-width: 80px;
	margin-left: 2%;
	margin-top: 0.2%;
}
/* navbar logo hover features */
nav img:hover {
	border-bottom: 3.5px solid #000000;
	border-radius: 7%;
}
/* login btn */
#login-btn {
  color: #2a190f;
  font-weight: bold;
  font-size: large;
  position: absolute;
  top: 30px;
  right: 125px;
  background-color: #d9d9d9;
  border-color: #b6b6b6;
  border-width: 3px;
}
/* login btn hover */
#login-btn:hover {
  background-color: #a5a5a5;
  border-color: #a5a5a5;
}
/* signup btn */
#signup-btn {
  color: #2a190f;
  font-weight: bold;
  font-size: large;
  position: absolute;
  top: 30px;
  right: 25px;
  background-color: #d9d9d9;
  border-color: #b6b6b6;
  border-width: 3px;
}
/* signup btn hover */
#signup-btn:hover {
  background-color: #a5a5a5;
  border-color: #a5a5a5;
}
/* logout btn */
#logout-btn {
  color: #2a190f;
  font-weight: bold;
  font-size: large;
  position: absolute;
  top: 30px;
  right: 25px;
  background-color: #d9d9d9;
  border-color: #b6b6b6;
  border-width: 3px;
}
/* logout btn hover */
#logout-btn:hover {
  background-color: #a5a5a5;
  border-color: #a5a5a5;
}
/* wecome username */
#welcome{
  color: #2a190f;
  font-weight: bold;
  font-size: 32px;
  position: absolute;
  top: 30px;
  right: 640px;
}
